<!-- <div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1><#%= @restaurant.name %></h1>
      <ul class="list-group">
        <#% @restaurants.each do |restaurant| %>
          <li class="list-group-item">
            <#%= link_to restaurant.name, restaurant_path(restaurant) %>
          </li>
        <#% end %>
      </ul>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1><%= @restaurant.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td><%= @restaurant.phone_number %></td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td><%= @restaurant.category %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to "Back to all Restaurants", restaurants_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>
